---
- name: Update and upgrade packages on web and db servers
  hosts: web, db
  become: yes

  tasks:  

  - name: update apt cache
    ansible.builtin.apt:
      update_cache: yes

  - name: upgrade all packages
    ansible.builtin.apt:
      upgrade: dist